/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* fonty */

/* playfair-display-regular - cyrillic_latin_latin-ext */

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/playfair-display-v37-cyrillic_latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-700 - cyrillic_latin_latin-ext */

  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/playfair-display-v37-cyrillic_latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lora-regular - cyrillic_cyrillic-ext_latin_latin-ext_math_symbols */

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext_math_symbols-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lora-700 - cyrillic_cyrillic-ext_latin_latin-ext_math_symbols */

  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lora-v35-cyrillic_cyrillic-ext_latin_latin-ext_math_symbols-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
[x-cloak] {
    display: none !important;
}

/********************************

    Basics

*********************************/

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 20px;
}
body, p, ul, li {
    font-family: 'Lora', serif;
}
ul li {
    list-style: none;
}
.container {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
    padding: 20px;
    width: 85%;
    margin: auto;
    border-radius: 20px 20px;
}
.dark .container {
    background: rgba(5, 5, 35, 0.8);
}
.dark p {
    color: white;
}
a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}
.dark a {
    color: white;
}
a:hover {
    transform: scale(1.1);
    color: #130f4a;
    text-decoration: underline solid #130f4a;
    text-underline-offset: 6px;
}
.dark a:hover {
    color: #3d34b8;
}
.btn {
    background-color: #384664;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}
.btn:hover {
    background-color: #0a32a8;
    transform: scale(1.05);
}
html {
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
}

/**********************************

    Header

**********************************/
.toggle-btn {
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0.5rem;
    transition: transform 0.2s ease;
}
.toggle-btn:hover {
  transform: scale(1.2);
}
.logo-flex {
    background-image: url("../img/subtle-prism.svg");
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color:#edecec;
    position: relative; /* Důležité pro pozicování mobilního menu */
    z-index: 1000; /* Ujistěte se, že header je nad obsahem */
}
.dark .logo-flex {
    background-image: url("../img/subtle-prism-dark.svg");
}
.social-icons i {
    font-size: 35px;
    padding: 2px 4px;
}
.social-icons {
    position: fixed;
    top: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}
.social-icons-mobile {
    display: none;
}
.social-icons .fa-square-facebook:hover,
.social-icons-mobile .fa-square-facebook:hover {
    color: #1877F2;
}
.social-icons .fa-linkedin:hover,
.social-icons-mobile .fa-linkedin:hover {
    color: #0A66C2;
}
.hidden {
  display: none !important;
}
.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 30px;
    text-align: left;
    padding-left: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.logo img {
    width: 60px;
}
.logo span {
    font-size: 20px;
}
.logo a {
    transform: none;
}
.logo a:hover {
    color: black;
    text-decoration: none;
}
.dark .logo a:hover {
    color: white;
    text-decoration: none;
}
header nav {
    font-size: 22px;
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    background-size: 300px;
}

.menu-button {
    display: none;
    padding-right: 10px;
}
.dark .menu-button {
    color: white;
}
.menu.open {
    display: flex;
}

/**********************************

    Body

**********************************/
body {
    background-image: url('../img/background.png');
    background-size: 260px;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}
body:before {
    content: '';
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(167, 164, 158, 0.5);
    z-index: -1;
    pointer-events: none;
    will-change: opacity;
}
.dark body {
    background-image: url("../img/background-dark.png");
}
.dark body:before {
    content: '';
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(16, 15, 54, 0.61);
    z-index: -1;
    pointer-events: none;
    will-change: opacity;
}
.dark section h1,
.dark section h2,
.dark section h3, 
.dark section h4, 
.dark section h5 {
    color: white;
}
.dark ul li {
    color: white;
}
section {
    padding: 30px 0px;
}
section p {
    padding: 10px 0;
}
section h1 {
    padding: 20px 0;
}
section h2 {
    padding: 20px 0;
}
.o-mne .skill-list li{
    padding: 2px 0;
}
.o-mne h3, .o-mne h2, .o-mne h1 {
    padding: 25px 0;
    text-align: center;
}
.o-mne-flex img {
    width: 380px;
    height: auto;
    mask-image: linear-gradient(to bottom, white 40%, transparent 100%);
    
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    
    background-color: white;
}
.o-mne-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;

}
.o-mne-flex .text {
    width: 35%; 
}
.hero p {
    color: #333;
}
.dark hero p {
    color: white;
}
.center {
    text-align: center;
}
.skill-block {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: stretch;
    align-items: baseline;
}
.skill-block.animace {
    animation: slideIn 1s ease-in-out;
    opacity: 1;
}
.skill-block h4 {
    padding: 15px 0;
    color: #384664;
}
.dark .skill-block h4 {
    color: #7f9ae3;
}
.line {
  height: 2px;
  background: linear-gradient(to right, transparent,  #384664, transparent);
  margin-top: 15px;
  border-radius: 2px;
}
.dark .line {
  background: linear-gradient(to right, transparent,  #787dd3, transparent);
}
.project h3 {
    padding-top: 10px;
}
/**********************************
    Footer
**********************************/
footer {
    text-align: center;
    padding: 20px;
    background-color: #edecec;
}
.dark footer {
    background-image: url("../img/subtle-prism-dark.svg");
}
/**********************************
    Responziv
**********************************/
@media (max-width: 800px) {
    .container {
        width: 95%;
    }
}
@media (max-width: 700px) {
    header nav {
        background-image: url("../img/subtle-prism.svg");
        flex-direction: column;
        background-color: #fff;
        padding: 10px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        gap: 5px;
        text-align: center;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        z-index: 999;
    }
    .logoflex {
        align-items: center;
    }
    .logo-flex .item3 {
        order: 3;
        justify-content: flex-end;
    }
    .logo-flex .item2 {
        order: 1;

    }
    .logo-flex .item1 {
        order: 2;
        text-align: center;
    }
    .dark header nav {
        background-image: url("../img/subtle-prism-dark.svg");
    }
    header nav a {
        padding: 10px 0;
        width: 100%;
    }
    .menu-button {
        display: block;
        background: none;
        border: none;
        font-size: 30px;
        cursor: pointer;
        z-index: 1001;
    }
    .social-icons {
        display: none;
    }
    .social-icons-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 10px 0;
    }
    .social-icons-mobile i {
        font-size: 35px;
    }
}
@media (max-width: 670px) {
    .o-mne-flex {
        flex-direction: column;
    }
    .o-mne-flex .text {
        width: 80%;
    }
    section {
        padding: 40px 0;
    }
}
@media (max-width: 545px) {
    .logo img {
        width: 50px;
    }
    .logo a {
        font-size: 20px;
    }
    .logo span {
        font-size: 15px;
    }
    .logo-flex {
        padding: 0 6px;
    }
    h1 {
        font-size: 30px;
    }
    .o-mne-flex {
        gap: 20px;
    }
}
/*******************
Keyframes
********************/
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(200px);
        display: none;
    }
    to {
        opacity: 1;
    }
}






